<div class="container">
  <% travels.forEach( (travel) => {%>
    <div class="travel_list" id="<%=travel._id%>">
      <div class=travelText>
        <div class="creator"><%=travel._userId.username %></div>
        <div class="title"><%=travel.title %></div>
        <div class="description"><%=travel.description%></div>
        <div class="travelDate"><%=travel.travelDateFormated%></div>
        <div class="countries"><%=travel.countries%></div>
        <div>
          <a href="/pads/new/<%=travel._id%>">
          <button value="<%=travel._id%>" class="btnAddPad">New Pad</button></a>
        </div>
        <div>
          <a href="/travels/<%=travel._id%>">
          <img class="icon" src="/images/eye-w.png" alt="View details"></a>
          <button value="<%=travel._id%>" class="btnDelete icon"><img class="icon" src="/images/trash-640-w.png" alt="Delete"></button>
        </div>
      </div>
      <div class="ribbon"></div>
    </div>
  <% }) %>
  <%
    if (pads) { %>
    <div class="padsContainer">

    <% pads.forEach( (pad) => {%>
      <div class="pads">
      <div><%=pad.title %></div>
      <div><%=pad.description %></div>
      <div>Localizacion</div>
      <div><%=pad.location.coordinates[0] %></div>
      <div><%=pad.location.coordinates[1] %></div>
      <div class="image">
        <img src="<%=pad.pic_path%>" alt="<%=pad.pic_name%>">
      </div>
      </div>
    <% }) %>

  </div>
  <% } %>

  <div>
    <a href="/travels/new">Add new</a>
  </div>
</div>
<script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
<script src="/javascripts/travels.js"></script>
