<header><div class="logo"> <img src="/favicon.gif" alt=""> <span>TravelPad</span></div>
  <div class="logNav">
<% if (user != undefined) { %>
  <%=user.username%>/
  <a href="/logout">Logout</a>
<%} else {%>
  <a href="/login">Login</a> /
  <a href="/signup">Signup</a>
<% } %>
  </div>
  <div style="clear: both;"></div>
</header>
<div>
<span class="menu"><a href="/travels/new">New travel</a></span>
<span class="menu"><a href="/travels/mytravels">My travels</a></span>
<span class="menu"><a href="/travels">Travels List</a></span>
</div>
<div class="container">
  <% travels.forEach( (travel) => {%>
    <div class="travel_list" id="<%=travel._id%>">
      <div class=travelText>
        <div class="creator"><%=travel._userId.username %></div>
        <div class="title"><%=travel.title %></div>
        <div class="description"><%=travel.description%></div>
        <div class="travelDate"><%=travel.travelDateFormated%></div>
        <div class="countries"><%=travel.countries%></div>
        <div>
          <a href="/travels/<%=travel._id%>"><img class="icon" src="/images/eye-w.png" alt="View details"></a>
          <% if ((''+user._id) == (''+travels[0]._userId._id))  { %>
          <button value="<%=travel._id%>" class="btnDelete icon"><img class="icon" src="/images/trash-640-w.png" alt="Delete"></button>
          <a href="/pads/new/<%=travel._id%>"><button class="icon" value="<%=travel._id%>" class="btnAddPad"><img placeholder="Add" class="icon" src="/images/add-200-w.png" alt="Add new pad"></button></a>
          <% } %>
        </div>
        <a href="/travels/new">Create new Travel</a>
      </div>
      <div class="ribbon"></div>
    </div>
  <% }) %>
  <%
    if (pads) { %>
    <div class="padsContainer">

    <% pads.forEach( (pad) => {%>
      <% if (user)  %>
      <div class="pads">
        <div class="padTitle"><%=pad.title %></div>
        <div class="padDescription"><%=pad.description %></div>
        <div class="local">
          <div class="mapDiv"><a class="mapLink" href="http://maps.google.es/?q=<%=pad.location.coordinates[1]%>%20<%=pad.location.coordinates[0]%>"><img class="icon" src="/images/map.png" alt="Go to Google Maps"></a></div>
          <div class="groupLocatization">
            <div class="padLocalization">Localizacion</div>
            <div class="padCoordinates"><%=pad.location.coordinates[0] %>, <%=pad.location.coordinates[1] %></div>
          </div>
        </div>
        <div class="image">
          <img src="<%=pad.pic_path%>" alt="<%=pad.pic_name%>">
        </div>
        <% if ((''+user._id) == (''+travels[0]._userId._id))  { %>
        <div><a href="/pads/delete/<%=pad._id%>/<%=travels[0]._id%>"><img class="icon" src="/images/trash-640.png" alt="Delete"></a></div>
        <% } %>
      </div>
    <% }) %>

  </div>
  <% } %>

  <div>

  </div>
</div>
<script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
<script src="/javascripts/travels.js"></script>
